{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prospect Visual bank</title>
    <link rel="stylesheet" href="{% static 'css/style_page.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    <div class="navbar">
        <a href="{% url 'home' %}" class="text">
            Home
        </a>

        <div class="icon">
            <span class="material-symbols-outlined">
                help
                </span>
                <span class="material-symbols-outlined">
                    person
                    </span>
                <span class="material-symbols-outlined">
                    expand_more
                </span>
        </div>
    </div>

    <div class="container">
        <div class="test">
            <span class="act">All activity</span>
            <br><br>
            <span class="loading">In progress</span>
        </div>

        <div class="search">
            <input type="search" name="" placeholder="Type a keyword">
            <a href=""><button class="btn">Search</button></a>
        </div>
    </div>

    <section>      
    <div class="cunts">
        <div class="trace">
            <div class="circle"></div>
            <div class="trace_in">
                <span class="mtd">To <span class="mtd_inner">Maria Sanchez</span></span>
                <span class="send">Sending</span>
            </div>
        </div>

        <div class="trace">
            <div class="trace_in">
                <span class="mtd">200 GBP</span>
                <span class="send">To INR</span>
            </div>
        </div>
    </div>

    <div class="nav">
        <a href="" class="upd">Updates</a>
        <a href="" class="det">Details</a>
        <div class="icon_sec"> 
        <span class="material-symbols-outlined">
            help
        </span>
        <span class="material-symbols-outlined">
            help
        </span>
        </div>
    </div>

<div class="major">
<div class="left">
    <div class="sta">
        <span class="status">Status Update:</span> In Progress Delivery of funds on hold to <br> the recipient's account: withdrawal of 850 euro unpaid
    </div>

    <div class="sta_2">
        <span class="status">Estimated Delivery time:</span> LEONIE LAMBRECHT to be credited <br> within 6-12 hours after confirmation of withdrawal <br> fee by Sparkasse Bank. <img src="" alt="logo">
    </div>
</div>

<div class="center">
    <div class="sta">
        <span class="status">Transaction:</span> #W92BKPVB
    </div>

    <div class="sta_2">
        <span class="status">Sender's name:</span> Harvey Oswald
    </div>

    <div class="sta_2">
        <span class="status">Senders country:</span> Uninted States of America
    </div>

    <div class="sta_2">
        <span class="status">Recipents name:</span>Leonie Lambrecht
    </div>

    <div class="sta_2">
        <span class="status">Recipents country:</span> Germany
    </div>

    <div class="sta_2">
        <span class="status">Senders bank:</span> Prospect Visual Bank, USA
    </div>

    <div class="sta_2">
        <span class="status">Recipents bank:</span> Sparkasse Bank, Germany
    </div>

    <div class="sta_2">
        <span class="status">Transfer amount:</span> $15,000 USD
    </div>

    <div class="sta_2">
        <span class="status">Transfer date:</span> 05-04-2024
    </div>

    <div class="sta_2">
        <span class="status">Status update:</span> in progress
    </div>

    <div class="sta_2">
        <span class="status">Estimated delivery:</span>
    </div>

    <div class="sta_2">
        <span class="status">Recipents IBAN:</span>DE31269513110168360295
    </div>
</div>

<div class="right">

</div>
    </div>
    </section>
</body>
</html>